schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="news">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="headline"/>
              <xs:element type="xs:string" name="body"/>
              <xs:element type="xs:string" name="by"/>
              <xs:element type="xs:string" name="source"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="date" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>